@font-face {
  font-family: "BERNIERDISTRESSED-REGULAR";
  src: url("../fonts/BernierDistressed.otf");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

main h1, main h2 {
  font-family: "BERNIERDISTRESSED-REGULAR";
  color: #D78C69;
  text-align: center;
  margin-bottom: 60px;
  font-size: 82px;
  line-height: 74px;
}
@media (max-width: 991.98px) {
  main h1, main h2 {
    font-size: 76px;
    line-height: 70px;
  }
}
@media (max-width: 767.98px) {
  main h1, main h2 {
    font-size: 70px;
    line-height: 64px;
  }
}
@media (max-width: 575.98px) {
  main h1, main h2 {
    font-size: 63px;
    line-height: 59px;
  }
}
@media (max-width: 419.98px) {
  main h1, main h2 {
    font-size: 52px;
    line-height: 47px;
    letter-spacing: -0.6px;
  }
}
main h1 .sub, main h2 .sub {
  display: block;
  color: #4F7290;
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 48px;
  line-height: normal;
  text-transform: lowercase;
}
@media (max-width: 991.98px) {
  main h1 .sub, main h2 .sub {
    font-size: 48px;
    line-height: normal;
  }
}
@media (max-width: 767.98px) {
  main h1 .sub, main h2 .sub {
    font-size: 46px;
  }
}
@media (max-width: 575.98px) {
  main h1 .sub, main h2 .sub {
    font-size: 44px;
  }
}
@media (max-width: 419.98px) {
  main h1 .sub, main h2 .sub {
    font-size: 42px;
  }
}
@media (max-width: 419.98px) {
  main .col-12 {
    padding-right: 10px;
    padding-left: 10px;
  }
}
main ul:not(.list-unstyled):not(.list_bullet):not(.flip) {
  list-style: none;
  padding-left: 30px;
}
@media (max-width: 575.98px) {
  main ul:not(.list-unstyled):not(.list_bullet):not(.flip) {
    padding-left: 25px;
  }
}
main ul:not(.list-unstyled):not(.list_bullet):not(.flip) li {
  position: relative;
  margin-bottom: 4px;
}
main ul:not(.list-unstyled):not(.list_bullet):not(.flip) li:before {
  content: "";
  position: absolute;
  left: -22px;
  top: 0.7em;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #FFA245;
  transform: translateY(-50%);
}
main ul li {
  font-size: 18px;
  line-height: normal;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 575.98px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

#show-menu {
  height: 15px;
}

.button,
button .materials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 48px;
  gap: 10px;
  max-width: 370px;
  background: linear-gradient(270deg, #D8775D, #FF8B32);
  border-radius: 6px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2.5px;
}
.button:hover,
button .materials:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  color: white;
  text-decoration: none;
  background: #DB5314;
}
@media (max-width: 1199.98px) {
  .button,
  button .materials {
    padding: 21px 20px;
  }
}
@media (max-width: 991.98px) {
  .button,
  button .materials {
    padding: 21px 48px;
  }
}
@media (max-width: 575.98px) {
  .button,
  button .materials {
    margin: 0 auto;
    padding: 20px 30px;
  }
}
@media (max-width: 481px) {
  .button,
  button .materials {
    letter-spacing: 0.2px;
  }
}

.talks-widget-button {
  z-index: 1500;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 20px;
  font-size: 25px;
  text-align: center;
  border-radius: 50%;
  color: white;
  padding-top: 6px;
  background: #3a6686;
  cursor: pointer;
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.23);
}

.header {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 820px;
  padding-top: 60px;
}
@media (max-width: 991.98px) {
  .header {
    padding-bottom: 90px;
  }
}
@media (max-width: 1199.98px) {
  .header {
    height: unset;
    padding-bottom: 60px;
  }
}
@media (max-width: 991.98px) {
  .header {
    text-align: center;
    background-image: url("../images/header/bg-mobile.jpg");
  }
}
@media (max-width: 575.98px) {
  .header {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
.header h1 {
  margin-top: 7px;
  text-align: unset;
  margin-bottom: 20px;
  font-size: 104px;
  line-height: 70px;
  color: #D78C69;
  max-width: 600px;
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .header h1 {
    font-size: 100px;
    line-height: 67px;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .header h1 {
    font-size: 95px;
    line-height: 64px;
  }
}
@media (max-width: 575.98px) {
  .header h1 {
    font-size: 90px;
    line-height: 60px;
    margin-bottom: -10px;
  }
}
@media (max-width: 419.98px) {
  .header h1 {
    font-size: 77px;
    line-height: 57px;
    letter-spacing: -1.2px;
    margin-bottom: -20px;
  }
}
.header h1 .small {
  font-size: 84px;
  display: block;
  margin-top: 20px;
  text-transform: lowercase;
}
@media (max-width: 991.98px) {
  .header h1 .small {
    font-size: 80px;
    margin-top: 15px;
  }
}
@media (max-width: 767.98px) {
  .header h1 .small {
    font-size: 75px;
  }
}
@media (max-width: 575.98px) {
  .header h1 .small {
    font-size: 71px;
  }
}
@media (max-width: 419.98px) {
  .header h1 .small {
    font-size: 62px;
    margin-top: 10px;
  }
}
.header h1 .sub {
  display: block;
  margin-top: 20px;
  font-size: 48px;
  line-height: 41px;
}
@media (max-width: 1199.98px) {
  .header h1 .sub {
    font-size: 46px;
  }
}
@media (max-width: 991.98px) {
  .header h1 .sub {
    margin-top: 25px !important;
    font-size: 48px;
    width: unset;
    margin: 0 auto;
    margin-top: 15px;
  }
}
@media (max-width: 767.98px) {
  .header h1 .sub {
    margin-top: 20px !important;
    font-size: 45px;
  }
}
@media (max-width: 575.98px) {
  .header h1 .sub {
    margin-top: 15px !important;
    font-size: 41px;
  }
}
@media (max-width: 419.98px) {
  .header h1 .sub {
    font-size: 36px;
    line-height: 37px;
    letter-spacing: -1.2px;
  }
}
.header ul {
  padding-left: 25px;
  margin-bottom: 30px;
  margin-top: 50px;
}
@media (max-width: 1199.98px) {
  .header ul {
    width: 503px;
  }
}
@media (max-width: 991.98px) {
  .header ul {
    width: unset;
  }
}
@media (max-width: 575.98px) {
  .header ul {
    padding-left: 28px;
    margin-bottom: 40px;
  }
}
.header ul li {
  font-size: 22px;
  max-width: 440px;
  margin-bottom: 10px !important;
}
@media (max-width: 1199.98px) {
  .header ul li {
    max-width: 395px;
  }
}
@media (max-width: 991.98px) {
  .header ul li {
    max-width: unset;
    text-align: left;
    font-size: 22px;
    margin-bottom: 13px !important;
  }
}
@media (max-width: 575.98px) {
  .header ul li {
    font-size: 21px;
    line-height: 23px;
  }
}
.header ul li b {
  color: #4F7290;
}
.header .advantages {
  margin-top: 70px;
  z-index: 10;
  position: sticky;
}
@media (max-width: 1199.98px) {
  .header .advantages {
    justify-content: space-around;
  }
}
@media (max-width: 575.98px) {
  .header .advantages {
    margin-top: 30px;
  }
}
.header .advantages .item {
  background-image: url(../img/d.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  text-align: center;
  border: 6px solid #FFD6B6;
}
@media (max-width: 1199.98px) {
  .header .advantages .item {
    width: 225px;
    height: 107px;
  }
}
@media (max-width: 991.98px) {
  .header .advantages .item {
    margin: 0 auto;
    margin-top: 25px;
    height: 114px;
    width: 253px;
  }
}
@media (max-width: 575.98px) {
  .header .advantages .item {
    border: 3px solid #FFD6B6;
  }
}
.header .advantages .item p {
  font-size: 21px;
  line-height: normal;
  margin: 0;
  padding: 0;
}
.header .advantages .item p b {
  color: #4F7290;
}
@media (max-width: 991.98px) {
  .header .button {
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media (max-width: 575.98px) {
  .header .button {
    margin-top: 15px;
  }
}
.header-img__desc {
  position: absolute;
  max-width: 620px;
  margin-top: -543px;
  margin-left: 540px;
}
@media (max-width: 1199.98px) {
  .header-img__desc {
    max-width: 500px;
    margin-top: -523px;
    margin-left: 449px;
  }
}
.header-img__desc-brush {
  position: absolute;
  max-width: 280px;
  margin-top: -147px;
  margin-left: 459px;
}
@media (max-width: 1199.98px) {
  .header-img__desc-brush {
    max-width: 190px;
    margin-top: -47px;
    margin-left: 399px;
  }
}
@media (max-width: 991.98px) {
  .header-img__desc-brush {
    display: none;
  }
}

.webp .header {
  background-image: url("../img/bg-head.jpg");
}
@media (max-width: 991.98px) {
  .webp .header {
    background-image: url("../img/bg-head.jpg");
  }
}
.webp .header .advantages .item {
  background-image: url("../img/d.png");
}

.about {
  padding-top: 180px;
}
@media (max-width: 1199.98px) {
  .about {
    padding-top: 120px;
  }
}
@media (max-width: 991.98px) {
  .about {
    padding-top: 100px;
  }
}
@media (max-width: 575.98px) {
  .about {
    padding-top: 60px;
  }
}
.about h2 {
  margin-bottom: 40px;
}
@media (max-width: 1199.98px) {
  .about h2 {
    margin-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .about h2 {
    margin-bottom: 20px;
  }
}
@media (max-width: 575.98px) {
  .about h2 {
    margin-bottom: 10px;
  }
}
@media (max-width: 419.98px) {
  .about h2 {
    margin-bottom: 0;
  }
}
.about p {
  font-size: 22px;
  line-height: normal;
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .about p {
    margin-top: 35px;
    margin-bottom: -20px;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .about p {
    font-size: 20px;
    margin-bottom: 19px;
    margin-top: 25px;
  }
}
@media (max-width: 1199.98px) {
  .about .text {
    margin-top: 45px;
  }
}
@media (max-width: 991.98px) {
  .about .text {
    margin: 0 auto;
  }
}
.about b {
  color: #4F7290;
}

@media (max-width: 1199.98px) {
  .what {
    padding-top: 30px;
  }
}
@media (max-width: 575.98px) {
  .what {
    padding-bottom: 30px;
  }
}
.what__bg {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 6px solid #FFD6B6;
}
@media (max-width: 991.98px) {
  .what__bg {
    padding-top: 40px;
    padding-bottom: 200px;
  }
}
@media (max-width: 575.98px) {
  .what__bg {
    border: 3px solid #FFD6B6;
  }
}
.what img {
  border: 6px solid #FFD6B6;
  max-width: 500px;
  margin-top: -100px;
  margin-left: -129px;
  position: absolute;
}
@media (max-width: 1199.98px) {
  .what img {
    max-width: 410px;
    margin-top: -40px;
  }
}
@media (max-width: 991.98px) {
  .what img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: unset;
    margin-top: -160px;
    max-width: 540px;
  }
}
@media (max-width: 767.98px) {
  .what img {
    max-width: 100%;
  }
}
@media (max-width: 575.98px) {
  .what img {
    border: 3px solid #FFD6B6;
    margin-top: -190px;
  }
}
.what h2 {
  margin-bottom: 40px;
  text-align: left;
  margin-top: 80px;
  margin-left: 60px;
}
@media (max-width: 1199.98px) {
  .what h2 {
    margin-bottom: 20px;
    margin-left: 10px;
  }
}
@media (max-width: 991.98px) {
  .what h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 575.98px) {
  .what h2 {
    margin-bottom: 20px;
  }
}
.what p {
  font-size: 22px;
  line-height: normal;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 80px;
  max-width: 545px;
}
@media (max-width: 1199.98px) {
  .what p {
    margin-left: 10px;
    max-width: 485px;
  }
}
@media (max-width: 991.98px) {
  .what p {
    max-width: unset;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 575.98px) {
  .what p {
    font-size: 20px;
    margin-bottom: 19px;
  }
}
.what b {
  color: #4F7290;
}

.webp .what__bg {
  background-image: url("../img/bg.jpg");
}

.materials {
  padding-top: 30px;
}
.materials h2 {
  margin-bottom: 70px;
}
@media (max-width: 991.98px) {
  .materials h2 {
    margin-bottom: 40px;
  }
}
@media (max-width: 575.98px) {
  .materials h2 {
    margin-bottom: 20px;
  }
}
.materials .line {
  height: 6px;
  background-color: #FFD6B6;
  margin-top: 20px;
}
.materials__head {
  font-size: 22px;
  line-height: normal;
  color: #4F7290;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.materials__text {
  font-size: 21px;
  line-height: normal;
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 575.98px) {
  .materials__text {
    font-size: 20px;
  }
}
.materials img {
  max-width: 95px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 991.98px) {
  .materials img {
    margin-top: 30px;
  }
}
.materials .drop-1.show .drop-btn {
  text-decoration: none;
  background-color: #EDFBFF;
}
.materials .drop-1 .drop-btn {
  color: #4F7290 !important;
  border: 1px solid #4F7290;
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
  width: 180px;
  height: 40px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .materials .drop-1 .drop-btn {
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media (max-width: 575.98px) {
  .materials .drop-1 .drop-btn {
    width: 157px;
  }
}
.materials .drop-1 .drop-text {
  transform: translate3d(5px, -30px, 0px) !important;
  top: 0 !important;
  left: 0 !important;
  width: 525px;
  border: none;
  background-color: unset;
}
@media (max-width: 1199.98px) {
  .materials .drop-1 .drop-text {
    transform: translate3d(5px, -30px, 0px) !important;
  }
}
@media (max-width: 991.98px) {
  .materials .drop-1 .drop-text {
    transform: translate3d(75px, -30px, 0px) !important;
    width: 555px;
  }
}
@media (max-width: 767.98px) {
  .materials .drop-1 .drop-text {
    transform: translate3d(5px, -30px, 0px) !important;
    width: 505px;
  }
}
@media (max-width: 575.98px) {
  .materials .drop-1 .drop-text {
    width: 99%;
    transform: translate3d(-3px, -30px, 0px) !important;
  }
}
@media (max-width: 419.98px) {
  .materials .drop-1 .drop-text {
    transform: translate3d(-1px, -30px, 0px) !important;
  }
}
.materials .drop-1 .drop-pad {
  display: flex;
  justify-content: start;
  padding: 90px 20px 20px 20px;
  border: 1px solid #4F7290;
  border-radius: 20px;
  box-shadow: 0px 0px 11.1px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
}
@media (max-width: 575.98px) {
  .materials .drop-1 .drop-pad {
    display: block;
    padding: 90px 10px 15px 10px;
  }
}
.materials .drop-1 .drop-pad p {
  font-size: 20px !important;
  margin: 0 !important;
  margin-bottom: 20px !important;
}
@media (max-width: 575.98px) {
  .materials .drop-1 .drop-pad p {
    font-size: 18px !important;
  }
}
.materials .drop-1 .drop-pad ul {
  margin: 0;
}
.materials .drop-1 .drop-pad ul li {
  font-size: 20px !important;
  margin-bottom: 0px !important;
  margin-top: 10px;
}
@media (max-width: 575.98px) {
  .materials .drop-1 .drop-pad ul li {
    font-size: 18px !important;
  }
}
.materials .drop-1 .dropdown.show .drop-btn {
  background: #eaf6fe;
}

#packages {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
#packages h2 {
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  #packages h2 {
    margin-bottom: 25px;
  }
}
@media (max-width: 419.98px) {
  #packages .col-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
#packages .container {
  margin: 0 auto;
  overflow: hidden;
  padding-top: 20px;
}
#packages .packages__item {
  font-family: "PT Sans";
  font-size: 22px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
#packages .packages__item-title {
  color: white;
  font-family: "BERNIERDISTRESSED-REGULAR";
  display: block;
  padding: 26px 3px;
  font-size: 35px;
  background: #4F7290;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1199.98px) {
  #packages .packages__item-title {
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  #packages .packages__item-title {
    font-size: 35px;
  }
}
@media (max-width: 575.98px) {
  #packages .packages__item-title {
    font-size: 32px;
  }
}
#packages .packages__item-description {
  font-size: 21px;
  background-color: white;
  padding: 30px 20px 0px 7px;
}
#packages .packages__item-description .none {
  -webkit-text-decoration: line-through 1.4px;
          text-decoration: line-through 1.4px;
  color: black;
  opacity: 0.6;
}
#packages .packages__item-description p {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  color: #81a055;
  font-weight: 600;
}
#packages .packages__item-description .sub {
  color: #4F7290;
  font-weight: 700;
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 25px;
  line-height: 18px;
}
@media (max-width: 575.98px) {
  #packages .packages__item-description .sub {
    font-size: 20px;
  }
}
#packages .packages__item-description span {
  font-size: 18px;
  color: #D78C69;
  line-height: 19px;
  display: block;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 7px;
}
#packages .packages__item-buy {
  padding: 0 20px;
  background-color: white;
}
#packages .packages__item-prices {
  display: block;
  align-items: end;
  font-weight: 700;
  color: #4F7290;
}
#packages .packages__item-price-new {
  font-size: 50px;
  margin-right: 10px;
  margin: 0 auto;
  color: #4F7290;
}
@media (max-width: 1199.98px) {
  #packages .packages__item-price-new {
    font-size: 42px;
  }
}
#packages .packages__item-price-old {
  text-decoration: line-through;
  font-size: 30px;
}
@media (max-width: 1199.98px) {
  #packages .packages__item-price-old {
    font-size: 26px;
  }
}
#packages .packages__item .buttons {
  text-align: center;
}
#packages .codes > a.active,
#packages .codes > a:hover {
  text-decoration: none;
  color: white;
  background: #D78C69;
}
#packages .codes > a {
  display: inline-block;
  width: 35px;
  height: 37px;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: white;
  background: #FFD6B6;
  border-radius: 2px;
}
#packages .codes {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 10px;
}
#packages .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#packages ul li {
  font-size: 19px;
  margin-bottom: 20px;
  line-height: normal;
}
#packages ul li::before {
  background-color: #FFA245 !important;
}
@media (max-width: 575.98px) {
  #packages ul li {
    font-size: 19px;
  }
}

@media (max-width: 575.98px) {
  #packages .packages__item-description {
    padding: 29px 10px 0px 0px;
  }
  #packages ul {
    padding-left: 32px;
  }
}
.webp #packages {
  background-image: url("../img/bg-tarif.jpg");
}

@media (max-width: 575.98px) {
  #packages {
    background-image: url("../images/packages/bg-mobile.jpg");
  }
  .webp #packages {
    background-image: url("../images/packages/bg-mobile.webp");
  }
}
.questions {
}
@media (max-width: 575.98px) {
  .questions {
    padding-top: 60px;
  }
}
.questions-item {
  border: 6px solid #FFD6B6;
  padding-bottom: 30px;
  margin-bottom: 30px !important;
  max-width: 830px;
  margin: 0 auto;
  background: white;
  z-index: 9;
  position: sticky;
}
@media (max-width: 575.98px) {
  .questions-item {
    border: 4px solid #FFD6B6;
  }
}
@media (max-width: 575.98px) {
  .questions-heading {
    margin-bottom: 30px;
  }
}
@media (max-width: 419.98px) {
  .questions .col-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.questions-question {
  font-family: "PT Sans";
  position: relative;
  padding-top: 35px;
  padding-bottom: 15px;
  padding-right: 180px;
  font-size: 21px;
  color: #D78C69;
  font-weight: 700;
  cursor: pointer;
  padding-left: 70px;
}
.questions-answer {
  padding-left: 70px;
  padding-right: 70px;
  font-size: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
}
.questions-answer.show {
  max-height: 300px;
}

.questions-indicator {
  transition: 0.245s;
  right: 40px;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  width: 40px;
  height: 45px;
  background-image: url("../images/icons/icon_chevron-up.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
.questions-indicator-chevron {
  font-size: 18px;
  transform: rotate(90deg);
}

.questions-question {
  color: #D78C69;
}

.questions-question.collapsed {
  color: #4F7290;
  font-weight: 700;
}

.questions-question.collapsed .questions-indicator {
  background-image: url("../images/icons/icon_chevron-down.svg");
}

@media (max-width: 767.98px) {
  .questions-question {
    padding-left: 40px;
  }
  .questions-answer {
    padding-left: 40px;
  }
}
@media (max-width: 575.98px) {
  .questions-question {
    padding-right: 90px;
  }
  .questions-header {
    font-size: 50px;
    margin-bottom: 0px !important;
  }
  .questions-answer {
    padding-left: 39px;
    padding-right: 15px;
  }
}
@media (max-width: 419.98px) {
  .questions-indicator {
    right: 45%;
    top: 122%;
    background-size: contain;
    background-position: center;
  }
  .questions-question {
    font-size: 21px;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 14px;
    padding-bottom: 10px;
  }
  .questions-answer {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
  }
  .questions-answer p {
    font-size: 20px;
    line-height: 28px;
    line-height: normal;
  }
  .questions-item {
    padding-bottom: 50px;
  }
}
footer {
  background: #fff;
  color: black !important;
  text-align: center;
  font-size: 16px;
  padding: 40px 0;
}
footer a {
  color: black !important;
}
footer p {
  color: black !important;
}
footer .text-white {
  color: black !important;
}